@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Montserrat", sans-serif;
  color      : #000000;
}

body {
  display         : flex;
  justify-content : center;
  align-items     : center;
  height          : 97vh;
  background-color: #F8F8F8;
}

.card {
  display         : flex;
  flex-direction  : column;
  justify-content : center;
  align-items     : center;
  width           : 26%;
  padding         : 36px;
  gap             : 30px;
  background-color: #FFFFFF;
  border-radius   : 16px;
  box-shadow      : rgba(14, 63, 126, 0.06) 0px 0px 0px 1px, rgba(42, 51, 70, 0.03) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 2px 2px -1px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.03) 0px 5px 5px -2.5px, rgba(42, 51, 70, 0.03) 0px 10px 10px -5px, rgba(42, 51, 70, 0.03) 0px 24px 24px -8px;
}

.card-title {
  font-size  : 28px;
  font-weight: 800;
}

.card-form {
  display       : flex;
  flex-direction: column;
  width         : 100%;
  gap           : 18px;
}

.card-form-input {
  display       : flex;
  flex-direction: column;
  width         : 100%;
  gap           : 10px;
}

.card-form-input>label {
  font-size  : 13px;
  font-weight: 600;
  color      : #000000;
  cursor     : pointer;
}

.card-form-input-text {
  display     : flex;
  align-items : center;
  padding-left: 6px;
  gap         : 14px;
}

.card-form-input-text>input {
  width         : 90%;
  padding-bottom: 10px;
  border        : transparent;
  border-bottom : 1px solid #C1C1C1;
}

.card-form-input-text>input:focus {
  outline: none;
}

.card-form-input-text>input[placeholder] {
  font-size  : 12px;
  font-weight: 500;
}

.card-form-button {
  margin-top: 10px;
}

.card-form-button > div {
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: 12px;
  font-weight: 450;
  gap: 10px;
  margin-bottom: 28px;
}

.card-form-button > div > input {
  width: 14px;
  height: 14px;
}

.card-form-button > div > label {
  cursor: pointer;
}
.card-form-button>button {
  width           : 100%;
  height          : 42px;
  font-size       : 13px;
  font-weight     : 600;
  color           : #FFFFFF;
  border          : transparent;
  border-radius   : 20px;
  background-color: #677381;
  cursor          : pointer;
}

.card-form-button>button:hover {
  opacity: 90%;
}

.card-link {
  font-size: 12px;
}

.card-link > a {
  text-decoration: none;
  font-weight: 600;
  color: #56616D;
}